<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    body{
        margin : 0;
        padding : 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:-moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    }
    li {
      float: right;
    }
    li:last-child {
      border-right: none;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      margin-right: 20px;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    h1 a {
      color: red;
    }
    </style>
</head>
<body>
  <ul>
    <% if(user) { %>
      <li><a href="/logout">Log Out</a></li>
      <% } else { %>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
      <% } %>
  </ul>
    <div class="login">
        <h1 style="margin-bottom: 30px;">Quiz Page</h1>
    </div>
</body>
</html>


<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      emailError.textContent = '';
      passwordError.textContent = '';
      // get values
      const password = form.password.value;
      const email = form.email.value;  
      try {
        const res = await fetch('/login', { 
          method: 'POST', 
          body: JSON.stringify({ email, password }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if (data.user)         
            location.assign('/');
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>